.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
}

.page-container {
  max-width: 50em;
  margin: auto;
  display: flex;
  justify-content: center;
}

.input {
  width: 9.5em;
}

.signup-container {
  display: flex;
  justify-content: center;
  border: 5px solid black;
  padding: 3em;
  margin: 3em;
  box-shadow: -1em 1em 0.15em transparentize(black, 0.9);
}
