<div class="register-container">
  <form class="form-wrapper" [formGroup]="register" (ngSubmit)="submit()">
    <label>
      Username:
      <input class="input" type="text" formControlName="username" />
    </label>
    <label>
      Password:
      <input class="input" type="password" formControlName="password" />
    </label>
    <label>
      Repeat Password:
      <input class="input" type="password" formControlName="repeatPassword" />
    </label>
    <button class="button background side" type="submit">
      Submit Application
    </button>
  </form>
</div>
