.navigation-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


