.username {
    color: #ff73f2;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 4em 0;
}

.add-search-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}

.add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    padding: 3em;
    margin: 3em;
    box-shadow: -1em 1em 0.15em transparentize(black, 0.9);
    min-width: 30em;
}

.add-book-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

.input {
    width: 35em;
    border: 2px solid black;
    min-height: 3em;
    padding-left: 1em;
    transition: all 0.5s ease-in;
}

.input:focus {
    outline: none;
}

.slow-appear {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.button-wrapper {
    display: flex;
    gap: 18em;
}

.error-message {
    color: red;
    font-size: 0.75em;
}

.hint-message {
    font-size: 0.75em;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    gap: 1em;
    max-width: 60em;
    margin: auto;
    list-style: none;
    padding-left: 0;
}

.book-tile {
    border: 3px solid black;
    padding: 0.5em;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -0.3em 0.3em 0.15em transparentize(black, 0.9);
}

.book-info {
    cursor: pointer;
}

.book-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

/* Base class for action buttons */
.action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    outline: none;
    position: relative;
}

/* Base class for tooltip */
.action-button-tooltip::before {
    content: attr(data-tooltip); /* Use a data attribute for dynamic content */
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: white;
    padding: 4px 8px;
    transition: opacity 1s;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

/* Show the tooltip when hovering over the button */
.action-button:hover .action-button-tooltip::before {
    visibility: visible;
    opacity: 1;
}

/* Specific classes for each button */
.delete-button .action-button-tooltip::before {
    content: 'Delete this book';
}

.edit-button .action-button-tooltip::before {
    content: 'Edit this book';
}

.cancel-button .action-button-tooltip::before {
    content: 'No';
}

.check-button .action-button-tooltip::before {
    content: 'Yes';
}

.popup {
    width: 200px;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0);
    z-index: 999;
}
