<div class="search-box">
    <img class="search-icon"
        ngSrc="assets/icons/search.svg"
        alt="search"
        height="24"
        width="24"
    />
    <div class="wrraap">
    <input
        class="input"
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Book, Author or Genre"
    />
    <label class="labeli">
        <input type="checkbox" [(ngModel)]="useOpenLibrary" />
        Search the web
    </label>
    </div>

</div>
