<h3>
    Hello <span class="username"> {{ currentUser?.username }}</span
    >, this is your account:
</h3>
<div class="page-container">
    <div class="account-container">
        <div class="account-properties">
            <div class="account-property">
                <span> Username: </span>
                <span>
                    {{ currentUser?.username }}
                </span>
            </div>
            <div class="account-property">
                <span> First Name: </span>
                <span>
                    {{ currentUser?.firstName }}
                </span>
            </div>
            <div class="account-property">
                <span> Last Name: </span>
                <span>
                    {{ currentUser?.firstName }}
                </span>
            </div>
            <div class="account-property">
                <span> Email: </span>
                <span>
                    {{ currentUser?.email }}
                </span>
            </div>
        </div>
        <div class="button-wrapper">
            <button
                class="button background side slow-appear"
                routerLink="/editaccount"
            >
                <a class="black-link ">edit</a>
            </button>
        </div>
    </div>
</div>
